openapi: 3.0.3
info:
  title: Business Operating System API
  description: |
    **Backend API specification for the Business Operating System (BOS) visionOS application.**

    This API provides enterprise data integration, real-time synchronization, AI-powered insights,
    and collaboration features for the revolutionary spatial computing platform.

    ## Features
    - **Authentication & Authorization**: OAuth 2.0 with JWT tokens
    - **Real-time Updates**: WebSocket support for live data synchronization
    - **Enterprise Integration**: Connectors for SAP, Salesforce, Workday, and custom systems
    - **AI-Powered Insights**: Anomaly detection, predictive analytics, natural language queries
    - **Multi-tenant**: Secure organization-level data isolation
    - **GraphQL Support**: Alternative query interface (see `/graphql` endpoint)

    ## Rate Limiting
    - **Authenticated requests**: 10,000 requests/hour
    - **Unauthenticated requests**: 100 requests/hour
    - Rate limit headers: `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`

    ## Pagination
    All list endpoints support pagination:
    - `limit`: Number of results (default: 50, max: 200)
    - `offset`: Starting position (default: 0)
    - `cursor`: Cursor-based pagination (alternative to offset)

    ## Versioning
    Current version: v1
    Breaking changes will be introduced in new versions (v2, v3, etc.)

  version: 1.0.0
  contact:
    name: BOS API Support
    email: api-support@businessos.io
    url: https://docs.businessos.io
  license:
    name: Proprietary
    url: https://businessos.io/terms

servers:
  - url: https://api.businessos.io/v1
    description: Production server
  - url: https://api-staging.businessos.io/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Local development server

security:
  - bearerAuth: []
  - apiKey: []

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Organization
    description: Organization data and configuration
  - name: Departments
    description: Department management and hierarchy
  - name: KPIs
    description: Key Performance Indicators and metrics
  - name: Employees
    description: Employee data and organizational structure
  - name: Reports
    description: Report generation and management
  - name: AI Services
    description: AI-powered insights and predictions
  - name: Collaboration
    description: Real-time collaboration and sessions
  - name: Sync
    description: Data synchronization and real-time updates
  - name: Analytics
    description: Usage analytics and telemetry
  - name: Integrations
    description: Enterprise system integrations

paths:
  # =============================================================================
  # AUTHENTICATION
  # =============================================================================

  /auth/login:
    post:
      tags: [Authentication]
      summary: Authenticate user
      description: |
        Authenticates a user with email/password and returns a JWT access token.

        The token should be included in subsequent requests using the Authorization header:
        `Authorization: Bearer <token>`
      operationId: loginUser
      security: []  # No auth required for login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                  example: jane.doe@acme.com
                password:
                  type: string
                  format: password
                  minLength: 8
                  example: SecureP@ss123
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                    description: JWT access token (expires in 1 hour)
                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                  refreshToken:
                    type: string
                    description: Refresh token (expires in 30 days)
                  expiresIn:
                    type: integer
                    description: Token expiration time in seconds
                    example: 3600
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /auth/refresh:
    post:
      tags: [Authentication]
      summary: Refresh access token
      description: Obtains a new access token using a valid refresh token
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  expiresIn:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Authentication]
      summary: Logout user
      description: Invalidates the current access token and refresh token
      operationId: logoutUser
      responses:
        '204':
          description: Logout successful
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/me:
    get:
      tags: [Authentication]
      summary: Get current user
      description: Returns the currently authenticated user's profile
      operationId: getCurrentUser
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # =============================================================================
  # ORGANIZATION
  # =============================================================================

  /organization:
    get:
      tags: [Organization]
      summary: Get organization details
      description: Retrieves the authenticated user's organization information
      operationId: getOrganization
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Organization]
      summary: Update organization
      description: Updates organization configuration (admin only)
      operationId: updateOrganization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdate'
      responses:
        '200':
          description: Organization updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # =============================================================================
  # DEPARTMENTS
  # =============================================================================

  /departments:
    get:
      tags: [Departments]
      summary: List all departments
      description: Returns a list of all departments in the organization with optional filtering
      operationId: listDepartments
      parameters:
        - name: type
          in: query
          description: Filter by department type
          schema:
            type: string
            enum: [executive, finance, operations, sales, marketing, engineering, hr, customerService, legal, custom]
        - name: parentId
          in: query
          description: Filter by parent department ID
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: List of departments
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Department'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Departments]
      summary: Create new department
      description: Creates a new department (admin only)
      operationId: createDepartment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentCreate'
      responses:
        '201':
          description: Department created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Department'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /departments/{departmentId}:
    parameters:
      - name: departmentId
        in: path
        required: true
        description: Department ID
        schema:
          type: string
          format: uuid

    get:
      tags: [Departments]
      summary: Get department details
      description: Returns detailed information for a specific department
      operationId: getDepartment
      responses:
        '200':
          description: Department details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Department'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Departments]
      summary: Update department
      description: Updates department information
      operationId: updateDepartment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentUpdate'
      responses:
        '200':
          description: Department updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Department'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Departments]
      summary: Delete department
      description: Deletes a department (admin only)
      operationId: deleteDepartment
      responses:
        '204':
          description: Department deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # =============================================================================
  # KPIs
  # =============================================================================

  /departments/{departmentId}/kpis:
    parameters:
      - name: departmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags: [KPIs]
      summary: List department KPIs
      description: Returns all KPIs for a specific department
      operationId: listDepartmentKPIs
      parameters:
        - name: category
          in: query
          description: Filter by KPI category
          schema:
            type: string
            enum: [financial, operational, customer, employee, strategic]
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: List of KPIs
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KPI'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags: [KPIs]
      summary: Create new KPI
      description: Creates a new KPI for a department
      operationId: createKPI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KPICreate'
      responses:
        '201':
          description: KPI created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KPI'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /kpis/{kpiId}:
    parameters:
      - name: kpiId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags: [KPIs]
      summary: Get KPI details
      description: Returns detailed information for a specific KPI
      operationId: getKPI
      responses:
        '200':
          description: KPI details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KPI'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [KPIs]
      summary: Update KPI
      description: Updates KPI value or configuration
      operationId: updateKPI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KPIUpdate'
      responses:
        '200':
          description: KPI updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KPI'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [KPIs]
      summary: Delete KPI
      description: Deletes a KPI
      operationId: deleteKPI
      responses:
        '204':
          description: KPI deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /kpis/{kpiId}/history:
    parameters:
      - name: kpiId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags: [KPIs]
      summary: Get KPI history
      description: Returns historical values for a KPI
      operationId: getKPIHistory
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          schema:
            type: string
            format: date-time
        - name: interval
          in: query
          description: Data point interval
          schema:
            type: string
            enum: [hour, day, week, month]
            default: day
      responses:
        '200':
          description: KPI historical data
          content:
            application/json:
              schema:
                type: object
                properties:
                  kpiId:
                    type: string
                    format: uuid
                  dataPoints:
                    type: array
                    items:
                      $ref: '#/components/schemas/DataPoint'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # =============================================================================
  # EMPLOYEES
  # =============================================================================

  /departments/{departmentId}/employees:
    parameters:
      - name: departmentId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags: [Employees]
      summary: List department employees
      description: Returns all employees in a specific department
      operationId: listDepartmentEmployees
      parameters:
        - name: status
          in: query
          description: Filter by employee status
          schema:
            type: string
            enum: [active, onLeave, terminated]
        - name: includeSubdepartments
          in: query
          description: Include employees from sub-departments
          schema:
            type: boolean
            default: false
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: List of employees
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Employee'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /employees/{employeeId}:
    parameters:
      - name: employeeId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags: [Employees]
      summary: Get employee details
      description: Returns detailed information for a specific employee
      operationId: getEmployee
      responses:
        '200':
          description: Employee details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Employee'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # =============================================================================
  # REPORTS
  # =============================================================================

  /reports:
    get:
      tags: [Reports]
      summary: List all reports
      description: Returns a list of all accessible reports
      operationId: listReports
      parameters:
        - name: type
          in: query
          description: Filter by report type
          schema:
            type: string
            enum: [financial, operational, executive, custom]
        - name: createdBy
          in: query
          description: Filter by creator user ID
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: List of reports
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Report'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Reports]
      summary: Generate new report
      description: Generates a new report based on provided parameters
      operationId: createReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReportCreate'
      responses:
        '201':
          description: Report created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /reports/{reportId}:
    parameters:
      - name: reportId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags: [Reports]
      summary: Get report details
      description: Returns detailed information for a specific report
      operationId: getReport
      responses:
        '200':
          description: Report details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Reports]
      summary: Delete report
      description: Deletes a report
      operationId: deleteReport
      responses:
        '204':
          description: Report deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /reports/{reportId}/export:
    parameters:
      - name: reportId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    post:
      tags: [Reports]
      summary: Export report
      description: Exports a report in the specified format
      operationId: exportReport
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [format]
              properties:
                format:
                  type: string
                  enum: [pdf, excel, csv, json]
                  description: Export format
      responses:
        '200':
          description: Report exported successfully
          content:
            application/pdf:
              schema:
                type: string
                format: binary
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                type: string
                format: binary
            text/csv:
              schema:
                type: string
            application/json:
              schema:
                $ref: '#/components/schemas/Report'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # =============================================================================
  # AI SERVICES
  # =============================================================================

  /ai/analyze-anomaly:
    post:
      tags: [AI Services]
      summary: Analyze data for anomalies
      description: Uses AI to detect anomalies in provided data points
      operationId: analyzeAnomaly
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [dataPoints]
              properties:
                dataPoints:
                  type: array
                  items:
                    $ref: '#/components/schemas/DataPoint'
                  minItems: 10
                sensitivity:
                  type: number
                  format: float
                  minimum: 0
                  maximum: 1
                  description: Anomaly detection sensitivity (0 = low, 1 = high)
                  default: 0.5
      responses:
        '200':
          description: Anomaly analysis complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnomalyReport'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /ai/recommend:
    post:
      tags: [AI Services]
      summary: Generate recommendations
      description: Uses AI to generate business recommendations based on context
      operationId: generateRecommendation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [context]
              properties:
                context:
                  $ref: '#/components/schemas/BusinessContext'
      responses:
        '200':
          description: Recommendations generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  recommendations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Recommendation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /ai/predict-trend:
    post:
      tags: [AI Services]
      summary: Predict future trends
      description: Uses AI to predict future trends for a specific KPI
      operationId: predictTrend
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kpiId, horizon]
              properties:
                kpiId:
                  type: string
                  format: uuid
                horizon:
                  type: integer
                  description: Prediction horizon in days
                  minimum: 1
                  maximum: 365
                  example: 30
                includeFactors:
                  type: boolean
                  description: Include contributing factors in response
                  default: true
      responses:
        '200':
          description: Trend prediction generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendPrediction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /ai/query:
    post:
      tags: [AI Services]
      summary: Natural language query
      description: Ask questions about business data in natural language
      operationId: naturalLanguageQuery
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [question]
              properties:
                question:
                  type: string
                  description: Natural language question
                  example: "What are the top performing departments this quarter?"
                context:
                  $ref: '#/components/schemas/BusinessContext'
      responses:
        '200':
          description: Query answered
          content:
            application/json:
              schema:
                type: object
                properties:
                  answer:
                    type: string
                    description: Natural language answer
                  data:
                    type: object
                    description: Structured data supporting the answer
                    additionalProperties: true
                  confidence:
                    type: number
                    format: float
                    minimum: 0
                    maximum: 1
                    description: Confidence score
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # =============================================================================
  # COLLABORATION
  # =============================================================================

  /collaboration/sessions:
    get:
      tags: [Collaboration]
      summary: List active sessions
      description: Returns all active collaboration sessions
      operationId: listCollaborationSessions
      responses:
        '200':
          description: List of active sessions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CollaborationSession'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Collaboration]
      summary: Start new session
      description: Creates and starts a new collaboration session
      operationId: startCollaborationSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, activeSpace]
              properties:
                title:
                  type: string
                  example: "Q4 Planning Session"
                activeSpace:
                  type: string
                  description: Scene identifier
                  example: "dashboard"
                inviteUserIds:
                  type: array
                  items:
                    type: string
                    format: uuid
      responses:
        '201':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaborationSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /collaboration/sessions/{sessionId}/join:
    parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    post:
      tags: [Collaboration]
      summary: Join session
      description: Joins an existing collaboration session
      operationId: joinCollaborationSession
      responses:
        '200':
          description: Joined session successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaborationSession'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /collaboration/sessions/{sessionId}/leave:
    parameters:
      - name: sessionId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    post:
      tags: [Collaboration]
      summary: Leave session
      description: Leaves a collaboration session
      operationId: leaveCollaborationSession
      responses:
        '204':
          description: Left session successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /collaboration/annotations:
    post:
      tags: [Collaboration]
      summary: Share annotation
      description: Shares a spatial annotation in a collaboration session
      operationId: shareAnnotation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpatialAnnotation'
      responses:
        '201':
          description: Annotation shared
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpatialAnnotation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # =============================================================================
  # SYNC
  # =============================================================================

  /sync/status:
    get:
      tags: [Sync]
      summary: Get sync status
      description: Returns current synchronization status
      operationId: getSyncStatus
      responses:
        '200':
          description: Sync status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [idle, syncing, synced, error]
                  lastSyncedAt:
                    type: string
                    format: date-time
                  pendingChanges:
                    type: integer
                    description: Number of pending changes to sync
                  error:
                    type: string
                    description: Error message if status is error
        '401':
          $ref: '#/components/responses/Unauthorized'

  /sync/trigger:
    post:
      tags: [Sync]
      summary: Force sync now
      description: Forces an immediate synchronization
      operationId: forceSyncNow
      responses:
        '202':
          description: Sync triggered
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Sync initiated"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  # =============================================================================
  # ANALYTICS
  # =============================================================================

  /analytics/events:
    post:
      tags: [Analytics]
      summary: Track analytics event
      description: Tracks a usage analytics event
      operationId: trackEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [event]
              properties:
                event:
                  type: string
                  enum: [appLaunched, dashboardViewed, departmentSelected, kpiTapped, reportGenerated, immersiveSpaceEntered, errorOccurred]
                properties:
                  type: object
                  additionalProperties: true
                  description: Event-specific properties
                timestamp:
                  type: string
                  format: date-time
      responses:
        '204':
          description: Event tracked
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # =============================================================================
  # INTEGRATIONS
  # =============================================================================

  /integrations:
    get:
      tags: [Integrations]
      summary: List integrations
      description: Returns all configured enterprise integrations
      operationId: listIntegrations
      responses:
        '200':
          description: List of integrations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Integration'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /integrations/{integrationId}/test:
    parameters:
      - name: integrationId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    post:
      tags: [Integrations]
      summary: Test integration
      description: Tests the connection to an enterprise integration
      operationId: testIntegration
      responses:
        '200':
          description: Integration test result
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  details:
                    type: object
                    additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

# =============================================================================
# COMPONENTS
# =============================================================================

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token obtained from /auth/login

    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for server-to-server authentication

  parameters:
    Limit:
      name: limit
      in: query
      description: Maximum number of results to return
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50

    Offset:
      name: offset
      in: query
      description: Number of results to skip
      schema:
        type: integer
        minimum: 0
        default: 0

  schemas:
    # =========================================================================
    # DOMAIN MODELS
    # =========================================================================

    User:
      type: object
      required: [id, email, name]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        role:
          type: string
          enum: [executive, manager, employee, analyst, admin]
        department:
          type: string
          format: uuid
          nullable: true

    Organization:
      type: object
      required: [id, name, structure, departments, metadata]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        structure:
          type: string
          enum: [hierarchical, matrix, flat, hybrid]
        departments:
          type: array
          items:
            $ref: '#/components/schemas/Department'
        metadata:
          $ref: '#/components/schemas/OrganizationMetadata'
        spatialConfiguration:
          $ref: '#/components/schemas/SpatialLayout'
        visualTheme:
          $ref: '#/components/schemas/VisualTheme'

    OrganizationMetadata:
      type: object
      properties:
        industry:
          type: string
        size:
          type: integer
          description: Total employees
        revenue:
          type: number
          format: decimal
          nullable: true
        foundedYear:
          type: integer
          nullable: true
        headquarters:
          type: string
          nullable: true

    SpatialLayout:
      type: object
      properties:
        layoutAlgorithm:
          type: string
          enum: [radial, grid, hierarchical, forceDirected, custom]
        scale:
          type: number
          format: float
        customPositions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Vector3'
          nullable: true

    VisualTheme:
      type: object
      properties:
        primaryColor:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
        secondaryColor:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
        accentColor:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
        darkMode:
          type: boolean

    Department:
      type: object
      required: [id, name, type, budget, headcount, kpis]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum: [executive, finance, operations, sales, marketing, engineering, hr, customerService, legal, custom]
        parent:
          type: string
          format: uuid
          nullable: true
        subDepartments:
          type: array
          items:
            $ref: '#/components/schemas/Department'
        budget:
          $ref: '#/components/schemas/Budget'
        headcount:
          type: integer
        kpis:
          type: array
          items:
            $ref: '#/components/schemas/KPI'
        position:
          $ref: '#/components/schemas/Vector3'
          nullable: true
        visualRepresentation:
          $ref: '#/components/schemas/DepartmentVisualization'

    Budget:
      type: object
      required: [allocated, spent]
      properties:
        allocated:
          type: number
          format: decimal
        spent:
          type: number
          format: decimal
        remaining:
          type: number
          format: decimal
          readOnly: true
        utilizationPercent:
          type: number
          format: double
          readOnly: true

    DepartmentVisualization:
      type: object
      properties:
        geometryType:
          type: string
          enum: [building, sphere, cylinder, custom]
        color:
          type: string
          pattern: '^#[0-9A-Fa-f]{6}$'
        scale:
          type: number
          format: float
        animationState:
          type: string
          enum: [idle, pulsing, growing, shrinking]
          nullable: true

    KPI:
      type: object
      required: [id, name, value, target, unit, category, trend, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        value:
          type: number
          format: decimal
        target:
          type: number
          format: decimal
        unit:
          type: string
        category:
          type: string
          enum: [financial, operational, customer, employee, strategic]
        trend:
          $ref: '#/components/schemas/TrendData'
        updatedAt:
          type: string
          format: date-time
        displayFormat:
          $ref: '#/components/schemas/DisplayFormat'
        alertThresholds:
          $ref: '#/components/schemas/AlertThresholds'
        performance:
          type: number
          format: double
          readOnly: true
        performanceStatus:
          type: string
          enum: [exceeding, onTrack, belowTarget, critical]
          readOnly: true

    TrendData:
      type: object
      properties:
        direction:
          type: string
          enum: [up, down, flat]
        change:
          type: number
          format: double
          description: Percentage change
        period:
          type: string
          example: "vs last month"

    DisplayFormat:
      type: object
      properties:
        formatStyle:
          type: string
          enum: [currency, number, percentage, duration, custom]
        decimalPlaces:
          type: integer
        showPercentage:
          type: boolean

    AlertThresholds:
      type: object
      properties:
        critical:
          type: number
          format: decimal
          nullable: true
        warning:
          type: number
          format: decimal
          nullable: true
        target:
          type: number
          format: decimal

    Employee:
      type: object
      required: [id, name, email, title, department, status]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        title:
          type: string
        department:
          type: string
          format: uuid
        manager:
          type: string
          format: uuid
          nullable: true
        directReports:
          type: array
          items:
            type: string
            format: uuid
        status:
          type: string
          enum: [active, onLeave, terminated]
        avatarURL:
          type: string
          format: uri
          nullable: true
        availability:
          type: string
          enum: [available, busy, offline, inMeeting]

    Report:
      type: object
      required: [id, title, description, type, createdAt, updatedAt, createdBy]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [financial, operational, executive, custom]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        createdBy:
          type: string
          format: uuid
        content:
          $ref: '#/components/schemas/ReportContent'

    ReportContent:
      type: object
      properties:
        sections:
          type: array
          items:
            $ref: '#/components/schemas/ReportSection'
        jsonData:
          type: string
          format: byte
          description: Base64-encoded JSON data

    ReportSection:
      type: object
      properties:
        title:
          type: string
        content:
          type: string
        visualizations:
          type: array
          items:
            type: string
            format: uuid

    DataPoint:
      type: object
      required: [timestamp, value]
      properties:
        timestamp:
          type: string
          format: date-time
        value:
          type: number
          format: double
        metadata:
          type: object
          additionalProperties:
            type: string

    AnomalyReport:
      type: object
      properties:
        detectedAt:
          type: string
          format: date-time
        severity:
          type: string
          enum: [low, medium, high, critical]
        description:
          type: string
        affectedEntities:
          type: array
          items:
            type: string
            format: uuid
        recommendedActions:
          type: array
          items:
            type: string

    BusinessContext:
      type: object
      properties:
        department:
          type: string
          format: uuid
          nullable: true
        timeRange:
          type: string
          enum: [last7Days, last30Days, last90Days, yearToDate, custom]
        filters:
          type: object
          additionalProperties:
            type: string

    Recommendation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        priority:
          type: string
          enum: [low, medium, high, urgent]
        estimatedImpact:
          type: string
        actions:
          type: array
          items:
            $ref: '#/components/schemas/RecommendedAction'

    RecommendedAction:
      type: object
      properties:
        description:
          type: string
        estimatedCost:
          type: number
          format: decimal
          nullable: true
        estimatedTime:
          type: string

    TrendPrediction:
      type: object
      properties:
        metric:
          type: string
        currentValue:
          type: number
          format: decimal
        predictedValue:
          type: number
          format: decimal
        confidence:
          type: number
          format: double
          minimum: 0
          maximum: 1
        timeHorizon:
          type: string
        factors:
          type: array
          items:
            type: string

    CollaborationSession:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        hostID:
          type: string
          format: uuid
        participants:
          type: array
          items:
            type: string
            format: uuid
        createdAt:
          type: string
          format: date-time
        activeSpace:
          type: string

    SpatialAnnotation:
      type: object
      required: [authorID, position, content]
      properties:
        id:
          type: string
          format: uuid
        authorID:
          type: string
          format: uuid
        position:
          $ref: '#/components/schemas/Vector3'
        content:
          type: string
        createdAt:
          type: string
          format: date-time

    Integration:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum: [sap, salesforce, workday, custom]
        status:
          type: string
          enum: [active, inactive, error]
        lastSyncedAt:
          type: string
          format: date-time
        configuration:
          type: object
          additionalProperties: true

    Vector3:
      type: object
      required: [x, y, z]
      properties:
        x:
          type: number
          format: float
        y:
          type: number
          format: float
        z:
          type: number
          format: float

    # =========================================================================
    # INPUT MODELS (Create/Update)
    # =========================================================================

    OrganizationUpdate:
      type: object
      properties:
        name:
          type: string
        structure:
          type: string
          enum: [hierarchical, matrix, flat, hybrid]
        metadata:
          $ref: '#/components/schemas/OrganizationMetadata'
        spatialConfiguration:
          $ref: '#/components/schemas/SpatialLayout'
        visualTheme:
          $ref: '#/components/schemas/VisualTheme'

    DepartmentCreate:
      type: object
      required: [name, type, budget, headcount]
      properties:
        name:
          type: string
        type:
          type: string
          enum: [executive, finance, operations, sales, marketing, engineering, hr, customerService, legal, custom]
        parent:
          type: string
          format: uuid
          nullable: true
        budget:
          $ref: '#/components/schemas/Budget'
        headcount:
          type: integer
        position:
          $ref: '#/components/schemas/Vector3'
        visualRepresentation:
          $ref: '#/components/schemas/DepartmentVisualization'

    DepartmentUpdate:
      type: object
      properties:
        name:
          type: string
        budget:
          $ref: '#/components/schemas/Budget'
        headcount:
          type: integer
        position:
          $ref: '#/components/schemas/Vector3'
        visualRepresentation:
          $ref: '#/components/schemas/DepartmentVisualization'

    KPICreate:
      type: object
      required: [name, value, target, unit, category]
      properties:
        name:
          type: string
        value:
          type: number
          format: decimal
        target:
          type: number
          format: decimal
        unit:
          type: string
        category:
          type: string
          enum: [financial, operational, customer, employee, strategic]
        displayFormat:
          $ref: '#/components/schemas/DisplayFormat'
        alertThresholds:
          $ref: '#/components/schemas/AlertThresholds'

    KPIUpdate:
      type: object
      properties:
        name:
          type: string
        value:
          type: number
          format: decimal
        target:
          type: number
          format: decimal
        displayFormat:
          $ref: '#/components/schemas/DisplayFormat'
        alertThresholds:
          $ref: '#/components/schemas/AlertThresholds'

    ReportCreate:
      type: object
      required: [title, description, type]
      properties:
        title:
          type: string
        description:
          type: string
        type:
          type: string
          enum: [financial, operational, executive, custom]
        content:
          $ref: '#/components/schemas/ReportContent'

    # =========================================================================
    # PAGINATION & ERRORS
    # =========================================================================

    Pagination:
      type: object
      properties:
        limit:
          type: integer
        offset:
          type: integer
        total:
          type: integer
        hasMore:
          type: boolean

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          description: Additional error details
          additionalProperties: true
        timestamp:
          type: string
          format: date-time
        path:
          type: string
          description: API path that generated the error

  responses:
    BadRequest:
      description: Bad request - Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "BAD_REQUEST"
            message: "Invalid request parameters"
            details:
              field: "email"
              error: "Invalid email format"

    Unauthorized:
      description: Unauthorized - Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "UNAUTHORIZED"
            message: "Authentication required"

    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "FORBIDDEN"
            message: "You do not have permission to access this resource"

    NotFound:
      description: Not found - Resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "NOT_FOUND"
            message: "Requested resource not found"

    TooManyRequests:
      description: Too many requests - Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
          description: Request limit per hour
        X-RateLimit-Remaining:
          schema:
            type: integer
          description: Requests remaining
        X-RateLimit-Reset:
          schema:
            type: integer
          description: Time when the rate limit resets (Unix timestamp)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: "RATE_LIMIT_EXCEEDED"
            message: "Too many requests. Please try again later."
